body {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
    color: hsl(214, 17%, 51%)
}

.main--container {
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
    max-width: 330px;
    margin-top: 70px;
}

.card-image--container {
    width: 330px;
    height: 215px;
    background-image: url(../images/drawers.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0 ;
}

.card-content--container {
    position: relative;
}

.card-bottom--share-container {
    display: flex;
    justify-content: space-between;
    background-color:hsl(217, 19%, 35%);
    border-radius: 0 0 10px 10px;
    padding: 17px 30px;
    align-items: center;
    z-index: 10;
    bottom: 0;
    position: absolute;
    width: 270px;
}

.card-text--container {
    padding: 30px;
}

.card-text--title {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    color: hsl(217, 19%, 35%);
    letter-spacing: 1px;
}

.card-text--paragraph {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
}

.card-bottom--container {
    padding: 0 30px 30px;
}

.card-bottom--main-container {
    display: flex;
    justify-content: space-between;
    padding: 4px 30px 15px;
}

.card-bottom--image-container {
    display: inline-block;
    vertical-align: sub;
}

.card-bottom--image {
    border-radius: 50%;
    width: 40px;
}

.card-bottom--additional-container {
    display: inline-block;
    padding-left: 15px;
    line-height: 19px;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.card-bottom--name {
    display: block;
    font-weight: 700;
}

.card-bottom--date {
    display: block;
    color: hsl(212, 23%, 69%);
}

.card-bottom--button-container {
    display: inline-block;
    align-self: center;
}

.card-bottom--button-share-open {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: hsl(210, 46%, 95%);
}

.card-button--icon {
    padding-left: 1px;
}

.card-bottom--share-icon-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin-left: 10px;
}

.card-bottom--share-icon {
    margin: 0 10px;
}

.card-bottom--button-share-close {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color:hsl(214, 17%, 51%);
}

.card-button--icon-share {
    filter: invert(100%) sepia(100%) saturate(200%) hue-rotate(303deg) brightness(1006%) contrast(104%);
}

.card-bottom--share-text {
    color:hsl(212, 23%, 69%);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 4px;
}

.card-bottom--button-share-close-additional {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color:hsl(214, 17%, 51%);
}

.attribution {
    margin-top: 50px;
    position: relative;
    font-size: 10px;
    width: 100%;
}

.attribution-text {
    position: absolute;
    width: 100%;
    color: grey;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
}

a {
    text-decoration: none;
    color: hsl(179, 100%, 13%);
}

@media screen and (min-width:1440px) {
    .main--container {
        max-width: 730px;
        display: flex;
    }

    .card-image--container {
        width: 40%;
        height: 280px;
        border-radius: 10px 0 0 10px;
        display: inline-block;
    }

    .card-text--container {
        display: inline-block;
        padding-bottom: 0;
    }

    .card-content--container {
        width: 60%;
    }

    .card-text--title {
        font-size: 16px;
    }

    .card-text--paragraph {
        font-size: 12px;
    }

    .card-bottom--main-container {
        padding-top: 10px;
    }

    .card-bottom--share-container {
        bottom: 85px;
        border-radius: 10px;
        right: -40px;
        width: auto;
        padding: 10px 20px;
    }

    .card-bottom--share-container:after {
        content:'';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        width: 0;
        height: 0;
        border-top: solid 10px hsl(217, 19%, 35%);;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
    }

    .card-bottom--button-share-close {
        display: none;
    }

    .card-bottom--share-text {
        font-size: 9px;
    }

    .card-bottom--share-icon {
        width: 15px;
        margin: 0 5px;
    }

    .card-bottom--share-icon-container {
        margin-left: 0;
    }
}